.container {
  display: flex;
  /* border-radius: 0.5rem; */
  gap: 2rem;
  height: 3.5rem;
  width: 80%;
  border: 1px solid gray;
  
  /* padding: 0.2rem; */
  margin: auto;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  color: rgb(170, 165, 165);
}

/* .container:hover {
  box-shadow: 2px 2px #888888;
} */

/* .container input[type=checkbox]{
  display: none;
} */

.container input[type=checkbox]:checked + .whatever{
  background-color: green;
}

.name{
  display: flex;
  /* border:1px solid green */
}

